
.innerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.cajaCentrada{
    margin: auto;
    border:solid black;
    border-radius: 10px;
    border-width: 1px;
    padding: 3%;
    margin: 3% 3%;
}

.info {
    color: grey !important;
    text-align: right;
    align-items: center;
}

.codigo{
    font-family: "monaco";
    white-space: pre;
    color: green ;
    text-align: center; 
    align-items: center;
 
}

.btnSubmit{
    margin:auto;
    width:100%;
}

.titulos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    align-items:center;
    padding-top: 14px;
}

nav{
    background-image: linear-gradient(white,rgb(110, 122, 135));
    margin-bottom: 50px;
}

li{
    border-radius: 15px;
    border-width: 1px;
    background-color: rgb(255,255,255,.15);    
    margin-right: 15px;
    margin-left: 10px;
}

a{
    align-items:center;
    border-radius: 15px;
    margin-left: 5px;
}a:hover{
    border-color:white;
    background-color: rgb(255,255,255,.5);    
    border-radius: 15px;
}

#page-container {
    min-height: 100vh; /* cubre la totalidad de la vista */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* ancho del footer */
}

    
.active{
    font-weight: bold;
    border: rgb(0,25,128);
    color: rgb(64,32,32);
}

body{ 
    display:flex; 
    flex-direction:column; 
}

footer{    
    background-image: linear-gradient( white,gray);
    border: solid rgba(250,250,250,.01);
    border-width: 1px;
    position: absolute;
    bottom: 0;
    width: 100%;      
    margin-top:50px;
    height:100px;
    padding: 50px;
}